@import "tailwindcss";

:root {
  --darkblue: #004396;
  --mediumBlue: #285b9c;
  --blueBorder: #00439666;
  --lightBlue: #8fb8ea;
  --overlay: #00000090;
  --black: #000000;
  --lightBlack: #333333;
  --white: #ffffff;
  --darkgray: #626262;
  --grayshade: #828282;
  --lightGray: #f4f4f4;
  --blueshade: #00439612;
  --blackshade: #252525;
  --lightRed: #ec1d241a;
  --redshade: #ec1d24;
  --graycolor: #f5f5f5;
  --grayShadeborder: #bababa;
  --bgColor: #f6f6f6;
  --sidebarText: #555555;
  --lightGreen: #11c7631a;
  --green: #00a249;
  --darkGreen: #11c763;
  --borderGray: #e1e1e1;
  --labelBlack: #222222;
  --purple: #8a0a9b;
  --lightGreish: #cacaca;
  --singleBorder: #e3e3e3;
  --tbordergray: #d8d8d8;
  --bgDarkGray: #f8f8f8;
  --tablebg: #ededed;
  --fadeBlue: #0043961a;
  --msgbg: #edf2f7;
  --msgBorder: #e9e9e9;
  --bgBlue: #0043960d;
  --whiteBorder: #d9d9d9;
  --lightYellow: #fafafa;

  /* Add your box shadow variable here */
  --boxshadow-input: 0px 2px 6px 0px #0000002e;
  --shadow-form: 0px 1px 2px 0px #00000040;
  --user-box: 0px 1px 8px 0px #82828240;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.section-container {
  @apply w-full  mx-auto px-4 md:px-[60px] lg:px-32;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
