@import "tailwindcss";

:root {
  --darkblue: #004396;
  --overlay: #00000090;
  --black: #000000;
  --lightBlack: #333333;
  --white: #ffffff;
  --lightgray: #f1f1f1;
  --orange: #fa8072;
  --darkgray: #626262;
  --grayshade: #828282;
  --bordergray: #a5a5a5;
  --lightblue: #f4faff;
  --blueshade: #00439612;
  --blackshade: #252525;
  --slategray: #c4c4c4;
  --redshade: #ec1d24;
  --graycolor: #dedede;
  --grayShadeborder: #bababa;
  --bgColor: #f6f6f6;
  --iconColor: #797979;
  --sidebarText: #555555;
  --lightGreen: #11c763;
  --textGray: #d8d8d8;
  --borderGray: #d9d9d9;
  --blueShadeadd: #00439666;
  --bgTextarea: #f9f9f9;
  --borderTextarea: #cacaca;
  --bgBoxColor: #fafafa;
  --bgColorBox: #d4d4d4;
  --lightText: #aeaeae;
  --buttonBg: #e3e3e3;
  --boxBgColor: #fbfbfb;
  --toggleGray: #b3b3b3;
  --bgGreen: #11c7631a;
  --bgRed: #ec1d241a;
  --lightBlue: #0043960f;
  --buttonBorder: #c5c5c5;
  --blueBoxColor: #0043961a;
  --borderGrayColor: #e5e5e5;
  --searchColor: #f7f7f7;

  /* Add your box shadow variable here */
  --boxshadow-input: 0px 2px 6px 0px #0000002e;
  --shadow-form: 0px 1px 2px 0px #00000040;
  --user-box: 0px 1px 8px 0px #82828240;
  --boxshadow-button: 0px 1px 4px 0px #33333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.section-container {
  @apply w-full  mx-auto px-4 md:px-[60px] lg:px-32;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modalOverlay {
  @apply fixed inset-0 z-50 flex items-center justify-center bg-black/50 px-4;
}

.modalContainer {
  @apply w-full max-w-[582px] rounded-[10px] bg-white;
}

.modalHeader {
  @apply flex items-center justify-between px-6 py-4 border-b border-[#E3E3E3];
}

.modalTitle {
  @apply font-semibold text-[18px] text-[var(--black)];
}
