@import "tailwindcss";

:root {
  --darkblue: #004396;
  --overlay: #00000090;
  --black: #000000;
  --lightBlack: #333333;
  --white: #ffffff;
  --lightgray: #f1f1f1;
  --orange: #fa8072;
  --darkgray: #626262;
  --grayshade: #828282;
  --bordergray: #a5a5a5;
  --lightblue: #f4faff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.section-container {
  @apply w-full max-w-[1140px] mx-auto px-4 sm:px-6 lg:px-8;
}
